<!-- <p>profile works!</p> -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>View Profile!</title>
  </head>
  <body>
    <div formGroupName="address">
        <h3>Address</h3>
      
        <label>
          Street:
          <input type="text" formControlName="street">
        </label>
      
        <label>
          City:
          <input type="text" formControlName="city">
        </label>
        
        <label>
          State:
          <input type="text" formControlName="state">
        </label>
      
        <label>
          Zip Code:
          <input type="text" formControlName="zip">
        </label>
      </div>


</body>
</html>