<div class="banner-wrapper">
  <div class="-uk-container -uk-container-center">
    <!-- <div class="uk-cover">
      <figure class="uk-overlay uk-cover-object" width="1440" height="640">
        <img src="http://lorempixel.com/1440/640/food" width="1440" height="640" alt="" />
        <figcaption class="uk-overlay-panel uk-flex uk-flex-bottom">
          <div> 
            <h1>FarmArt</h1>
            <p>A place of food</p>
            <button class="uk-button uk-button-primary uk-button-large">Get Started</button>
          </div>
        </figcaption>
      </figure>
    </div> -->
    <div
      class="uk-cover-background uk-height-viewport uk-position-relative"
      style="background-image: url(https://lorempixel.com/1440/640/food);"
    >
      <img
        class="uk-invisible"
        src="https://lorempixel.com/1440/640/food"
        width="1440"
        height="640"
        alt=""
      />
      <div class="banner-text uk-position-cover uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
          <h1 class="uk-contrast uk-heading-large">FarmArt</h1>
          <h3 class="uk-contrast">A place of food</h3>
          <button class="uk-button uk-button-primary uk-button-large">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
  
</div>

