<app-nav></app-nav>

<app-center>
  <h1>
    Dashboard
  </h1>
  <hr>

  <div class="uk-grid">
    <div class="uk-width-3-10 uk-block uk-block-secondary uk-contrast " >
      <div class="uk-panel uk-panel-box uk-block-secondary uk-contrast">
        <h1 class="uk-panel-title">Welcome</h1>
        <ul class="uk-nav uk-nav-side">
          <li>
            <a  [routerLink]="['profile']">Profile</a>
          </li>
          <li>
            <a  [routerLink]="['add-product']">Add Product</a>
          </li>
          <li>
            <a [routerLink]="['view-product']">View Product</a>
          </li>
          <li>
            <a href="#">Order History</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="uk-width-7-10">
      <router-outlet></router-outlet>
     </div>

  </div>


</app-center>
