<p>product-form works!</p>
<!-- <form #registration="ngForm" (ngSubmit)="onSubmit(registration)" novalidate> -->
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <span class="uk-form-icon" uk-icon="icon: name"></span>
      <input
        class="uk-input uk-form-large uk-width-1-1"
        type="text"
        placeholder="Username"
        name="name"
        [formControl]="productForm.get('name')"
      />
      <div class="uk-form-danger" *ngIf="!productForm.get('name').valid">
        Please enter a name
      </div>
    </div>
  </div>
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <input
        class="uk-input uk-form-large uk-width-1-1"
        type="text"
        placeholder="category type"
        name="category"
        [formControl]="productForm.get('category')"
      />
      <div class="uk-form-danger" *ngIf="!productForm.get('category').valid">
        Please provide category
      </div>
    </div>
  </div>
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <span class="uk-form-icon" uk-icon="icon: lock"></span>
      <input
        class="uk-input uk-form-large uk-width-1-1"
        type="text"
        name="description"
        placeholder="Set a description"
        [formControl]="productForm.get('description')"
      />
      <div class="uk-form-danger" *ngIf="!productForm.get('description').valid">
        Please provide description
      </div>
    </div>
  </div>
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <input
        class="uk-input uk-form-large uk-width-1-1"
        type="number"
        placeholder="price"
        name="price"
        [formControl]="productForm.get('price')"
      />
    </div>
  </div>
  <div class="uk-form-danger" *ngIf="!productForm.get('price').valid">
    Please provide valid price
  </div>

  <div class="uk-grid">
    <div class="uk-width-1-1">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <input
        class="uk-input uk-form-large uk-width-1-1"
        type="text"
        placeholder="Farmername"
        name="Farmername"
        id="farmer"
        [formControl]="productForm.get('Farmername')"
      />
    </div>
  </div>
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <input
        class="uk-input uk-form-large uk-width-1-1"
        type="text"
        placeholder="Farmeremail"
        name="Farmeremail"
        [formControl]="productForm.get('Farmeremail')"
      />
      <div class="uk-form-danger" *ngIf="!productForm.get('Farmeremail').valid">
        Please provide valid Farmer-email
      </div>
    </div>
  </div>
  <div id="upload-drop" class="uk-placeholder">
  <a class="uk-form-file">Select a file<input name="profile" type="file"(change)="onFileSelect($event) ></a>.

  </div>
  <div class="uk-grid">
    <button
      class="uk-button uk-button-primary uk-button-large uk-width-1-1"
      type="submit"
      [disabled]="!productForm.valid"
    >
      Submit
    </button>
  </div>
</form>
