
<div>
    <ul class="uk-list uk-list-line">
        <li> <strong>Farmer Lists</strong> </li>
        <li  class=".uk-list-space" *ngFor="let farmer of farmers">
            {{ farmer.username }}
        </li>
    </ul>

    <table class="uk-table .uk-text-center .uk-width-1-1 uk-table-striped">
      <caption>...</caption>
      <thead>
          <tr>
              <th>...</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <td>...</td>
          </tr>
      </tfoot>
      <tbody>
          <tr>
              <td>...</td>
          </tr>
      </tbody>
  </table>

</div>
