<div class="nav-wrapper">
  <div
    class="uk-container uk-container-center"
  >
    <nav class="uk-navbar uk-contrast">
      <a class="uk-navbar-brand uk-hidden-small" routerLink="/app/home"
        >FarmArt</a
      >
      <ul class="uk-navbar-nav uk-hidden-small">
        <li class="uk-active">
          <a routerLink="/app/home">Home</a>
        </li>
        <li>
          <a authLink [authLinkValue]="isAuthenticated" routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a authLink [authLinkValue]="!isAuthenticated" routerLink="/signin">Sign In</a>
        </li>
        <li>
          <a authLink [authLinkValue]="!isAuthenticated" routerLink="/signup">Sign Up</a>
        </li>
        <li>
          <a authLink [authLinkValue]="isAuthenticated" routerLink="/app/customers/farmers">Browse</a>
        </li>
        <li>
            <cart [isAuthenticated]="isAuthenticated"></cart>
        </li>
        <li>
          <a authLink [authLinkValue]="isAuthenticated" (click)="logoutEvent($event)" href="#">Logout</a>
        </li>
      </ul>
      <a
        href="#offcanvas"
        class="uk-navbar-toggle uk-visible-small"
        data-uk-offcanvas
      ></a>
      <div class="uk-navbar-brand uk-navbar-center uk-visible-small">FarmArt</div>
    </nav>
  </div>
</div>